<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar  routerLink="../.."></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Editar estatus de enajenación de vehículo"></app-separador>
    </div>

    <p-card>
        <div class="row flex align-items-end mb-4">
            <div class="col-md-2">
                <label class="control-label" for="id">ID<span class="req">*</span>:</label>
                <input class="form-control" id="id" placeholder="XXXXXXXXXXX" type="text" disabled>
            </div>
            <div class="col-md-10">
                <label class="control-label" for="estatus">Estatus de enajenación de vehículo<span class="req">*</span>:</label>
                <input class="form-control" id="estatus" placeholder="Ingresar" type="text">
            </div>
        </div>
       
    </p-card>
    <div class="flex justify-content-between mt-4">
        <span class="campos-obligatorios">*Campos obligatorios</span>
        <div>
            <button class="btn btn-gold btn-lg" routerLink="../..">Cancelar</button>
            <button class="btn btn-primary btn-lg ml-4">Guardar</button>
        </div>
    </div>

</div>