// label {
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 17px;
//     display: flex;
//     align-items: center;
//     color: #222222;
//     margin-bottom: 5px;
// }

// ::placeholder {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 17px;
//     color: #7f7f7f;
// }

// input[type="text"], input[type="password"] {
//     background: #ffffff;
//     border: 1px solid #d8d6d6;
//     border-radius: 5px;
//     width: 100%;
//     padding: 9px 10px;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 17px;
// }

.p-card {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
