.p-component {
    font-family: "Montserrat";
}

.p-card {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.p-card .p-card-content {
    padding: 0;
}

.p-datatable .p-datatable-thead > tr > th {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: relative;
}

.p-datatable p-sorticon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.p-datatable .p-datatable-thead > tr > th {
    border: 0;
    position: relative;
}

.p-datatable .p-datatable-thead > tr > th:not(:last-child)::after {
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    background-color: #d8d6d6;
    height: 85%;
    position: absolute;
}

.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-sortable-column.p-highlight:hover {
    color: #000000;
}

.p-datatable .p-sortable-column .pi {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga", normal, "dlig";
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;

    &.pi-sort-alt:before {
        content: "\f0dc";
        color: #cccccc;
    }
    &.pi-sort-amount-up-alt:before {
        content: "\f0de";
        color: #6c757d;
    }
    &.pi-sort-amount-down:before {
        content: "\f0dd";
        color: #6c757d;
    }
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background: #ffffff;
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
    background: #fcfcfc;
}

.p-datatable .p-datatable-tbody > tr > td {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border: 0.5px solid #f3f3f3;
    border-left: 0;
    border-right: 0;
}

.form-control.p-calendar {
    padding: 0;
    border: none;
    input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #7f7f7f;
    }
}

.form-control.p-calendar {
    position: relative;

    .p-datepicker-calendar {
        th {
            text-align: center;
        }
    }
    .p-datepicker-trigger {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-25%,-50%);
        background: transparent;
        border: none;
        .pi.pi-calendar {
            color: #9d2449;
            font-size: 24px;
        }
    }

    .p-inputtext{
        border-radius: 4px;
        padding-right: 30px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }

    .p-inputtext:enabled:focus {
        border-color: #66afe9;
        border-right-color: none;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header{
    background-color: transparent;
    border-bottom: none;
}

.p-calendar.form-control.p-calendar-disabled{
    input{
        background-color: #eee;
        cursor: not-allowed;
    }
}

.p-datepicker{
    .p-datepicker-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }
    .pi{
        font-family: "icomoon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        letter-spacing: 0;
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga", normal, "dlig";
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .pi-chevron-left:before{
        font-size: 20px;
        color:#9d2449;
        content:"\f0d9";
    }
    .pi-chevron-right:before{
        font-size: 20px;
        color:#9d2449;
        content:"\f0da";
    }
}

.form-control .p-dropdown {
    width: 100%;
    height: 39px;
}

p-dropdown.form-control {
    padding: 0;
}

.p-dropdown .p-dropdown-label.p-inputtext {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7f7f7f;
}

.p-dropdown .p-dropdown-trigger-icon {
    color: #9f2241;
    font-size: 18px;
    font-weight: 700;
    transform: translateX(-25%);
}

p-dropdown.p-inputwrapper[ng-reflect-disabled="true"] {
    cursor: not-allowed;
}

.p-dropdown.p-component.p-disabled {
    background-color: #e3e3e3;
}

.p-dropdown-panel .p-dropdown-items-wrapper .p-dropdown-items {
    padding: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #0c231e;
    padding: 10px;
}

.p-dropdown-panel.p-component {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.p-dropdown-items p-dropdownitem .p-dropdown-item[role="option"] {
    border: 0.3px solid rgb(226 226 226 / 68%);
}

.p-dropdown-items p-dropdownitem:nth-child(odd) .p-dropdown-item {
    background: #f8f8f8;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #545454;
}

.p-paginator-icon {
    color: #545454;
    font-size: 18px;
    transform: translateY(1px);
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last {
    display: none;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #9d2449;
    border-radius: 50%;
    border: none;
    transform: scale(1.2);
}

.p-paginator-bottom.p-component {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.p-paginator-bottom.p-component .p-paginator-right-content {
    margin-left: 0;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #545454;
    margin: 0 5px;
}

.p-paginator-prev.p-disabled,
.p-paginator-next.p-disabled {
    color: #d8d6d6;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    border: none;
    background-color: transparent;
    color: #9d2449;
    outline: none;
}

.p-paginator-right-content {
    .paginator-template {
        display: flex;
        align-items: center;
        label {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #3e3e3e;
            margin-bottom: 0;
            margin-left: 40px;
        }
        input[type="text"] {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #999999;
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 6px;
            outline: none;
            width: 40px;
            margin-left: 10px;
        }
    }
}

.p-toast.p-component {
    width: auto;
}

.p-toast .p-toast-message {
    margin-bottom: 0;
}

.p-toast .p-toast-message .p-toast-message-content[role="alert"] {
    padding: 0;
}

.p-toast-message-content[role="alert"] {
    align-items: center;
}

.p-toast .p-toast-message.p-toast-message-success {
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-toast .p-toast-message.p-toast-message-info {
    background: #d9edf7;
    border: 1px solid #bce8f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: #fff5cb;
    border: 1px solid #8b6c42;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #f2dede;
    border: 1px solid #d0021b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-toast button .p-toast-icon-close-icon {
    font-size: 16px;
}

.p-toast-icon-close[type="button"] {
    transform: translateX(-50%);
}
