<div class="container mb-4">
    <app-separador texto="Catálogo de usuarios SIT"></app-separador>
    <div class="row flex align-items-end mb-4">
        <div class="col-md-3">
            <label class="control-label" for="matricula">Matricula<span class="req">*</span>:</label>
            <input class="form-control" id="matricula" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="nombreUsuario">Nombre de usuario<span class="req">*</span>:</label>
            <input class="form-control" id="nombreUsuario" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="ooad">OOAD<span class="req">*</span>:</label>
            <input class="form-control" id="ooad" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-3 flex align-items-center justify-content-end">
            <button class="btn btn-primary">Buscar</button>
            <button class="ml-5 btn btn-default">Limpiar</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <span class="campos-obligatorios">*Campos obligatorios</span>
        </div>
        <div class="col-md-6 flex justify-content-end">
            <button class="btn-icon btn btn-primary" routerLink="alta-de-usuario-sit"><i class="icon-circulo-mas"></i>Alta de
                usuario</button>
        </div>
    </div>
    <div class="row -mx-6">
        <div class="col-md-12">
            <p-card>
                <p-table [value]="unidades" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="nombreUsuario">Nombre de usuario <p-sortIcon field="nombreUsuario">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="matricula">Matrícula <p-sortIcon field="matricula"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ooad">OOAD <p-sortIcon field="ooad"></p-sortIcon>
                            </th>
                            <th class="text-center">Acciones
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-usuario>
                        <tr>
                            <td><a class="link"
                                    [routerLink]="['detalle-del-usuario-sit',usuario.id]">{{usuario.nombreUsuario}}</a></td>
                            <td>{{usuario.matricula}}</td>
                            <td>{{usuario.ooad}}</td>
                            <td class="flex justify-content-center">
                                <i [routerLink]="['editar-usuario-sit',usuario.id]" class="icon-editar cursor-pointer"></i>
                                <i class="icon-eliminar cursor-pointer" (click)="mostrarModal = true;"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorright" let-state>
                        <div class="paginator-template">
                            <label>Página</label><input type="text" [value]="state.page + 1" disabled>
                        </div>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>

<p-dialog styleClass="modal-eliminar" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '480px'}"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center">
            <i class="icon-alerta"></i>
            <span>El registro del usuario será eliminado.</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="text-center">
            <label>¿Deseas continuar?</label>
        </div>
        <div class="flex justify-content-center">
            <button class="btn btn-default btn-lg" (click)="mostrarModal=false">Cancelar</button>
            <button class="btn btn-primary ml-4 btn-lg" (click)="mostrarModal=false">Aceptar</button>
        </div>
    </ng-template>
</p-dialog>