<div class="container mb-4">
    <app-separador texto="Catálogo de usuarios SIT"></app-separador>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label" for="ecco">ECCO<span class="req">*</span>:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" id="ecco" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-4">
            <button class="btn btn-default">Limpiar</button>
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Alta de préstamo</button>
        </div>
    </div>
</div>
