<header id="header" role="heading" class="without-secondary-menu">
    <div class="section clearfix">

        <div class="region region-header">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu">


                <div class="content">
                    <style>
                        .navbar-brand>img {
                            display: inline;
                        }
                    </style>

                    <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#subenlaces">
                                    <span class="sr-only">Interruptor de Navegación</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="subenlaces">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="" target="_blanks">

                                            Inicio </a>
                                    </li>

                                    <li class="">
                                        <a href="" target="_blanks">

                                            Conoce al IMSS </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="" target="_blanks">

                                                    Acerca del IMSS </a>
                                            </li>

                                            <li>
                                                <a href="" target="_blanks">

                                                    Sala de Prensa </a>
                                            </li>

                                            <li>
                                                <a href="" target="_blanks">

                                                    Datos Abiertos </a>
                                            </li>

                                            <li>
                                                <a href="" target="_blanks">

                                                    Trámites y servicios </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="">
                                        <a href="" target="_blanks">

                                            IMSS Transparente </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="" target="_blanks">

                                                    Transparencia </a>
                                            </li>

                                            <li>
                                                <a href="" target="_blanks">

                                                    Protección de Datos Personales </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="" target="_blanks">

                                            Directorio </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="" target="_blanks">

                                                    Directorio de instalaciones </a>
                                            </li>

                                            <li>
                                                <a href="" target="_blanks">

                                                    Directorio de funcionarios </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="" target="_blanks">

                                            Contacto ciudadano </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</header>