<div class="recuperar-contrasena">
    <p-card>
        <a class="recuperar-contrasena-header" routerLink="../">
            <app-btn-regresar></app-btn-regresar> <a>Regresar</a>
        </a>

        <h1>Recuperar contraseña</h1>
        <p>Se enviará un enlace para cambio de contraseña al correo
            asociado a la matrícula</p>
        <div class="form-group">
            <label class="control-label" for="matricula-01">Matrícula<span class="req">*</span>:</label>
            <div class="form-icon">
                <input class="form-control" id="matricula-01" placeholder="Ingresar matrícula" type="text">
                <i></i>
            </div>
        </div>
        <div class="mt-2">
            <span class="req">* Campos obligatorios:</span>
        </div>
        <div class="flex justify-content-end align-items-center mt-8">
            <button class="btn btn-primary">Enviar</button>
        </div>
    </p-card>
</div>