/* You can add global styles to this file, and also import other style files */
@import "assets/custom-theme/custom-bootstrap";
@import "assets/custom-theme/custom-prime";

html {
    font-size: 10px;
    font-family: "Montserrat";
}

html,
body {
    height: 100%;
}

body {
    background-color: #fcfcfc;
    padding-top: 120px;
}

.req {
    color: #9f2241;
}

h3.subtitulo {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #bc955c;
    margin: 5px 0 10px 0px;
}

app-btn-regresar + app-separador {
    margin-left: 10px;
}

hr.separador-small {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    border-top: 0;
    border-bottom: 1px solid #eeeeee;
}

.modal-eliminar {

    .p-dialog-header-icon{
        transform: translate(-75%, 75%) scale(2);
    }

    .pi{
        font-family: "icomoon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        letter-spacing: 0;
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga", normal, "dlig";
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &.pi-times:before {
            content: "\e904";
            color: #cccccc;
        }
    }
 
    &[role="dialog"].p-dialog {
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
    font-family: "Montserrat";

    .p-dialog-header{
        border:none;
        padding:0;
    }
    .p-dialog-content {
        [class^="icon-"]{
            color: #FF4450;
            font-size: 26px;
            margin-bottom: 10px;
        }
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
        }
    }
    .p-dialog-footer {
        padding-bottom: 15px;
        border-top: 1px solid #cccccc;
        background: #fafafa;
        border-radius: 0px 0px 10px 10px;
        label {
            margin: 5px 0 15px 0;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
