<div class="container mb-4">
    <app-separador texto="Catálogo de unidades"></app-separador>
    <span class="icon-sort"></span>
    <div class="row flex align-items-end">
        <div class="col-md-3">
            <label class="control-label" for="ecco">ECCO<span class="req">*</span>:</label>
            <input class="form-control" id="ecco" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="ooad">OOAD<span class="req">*</span>:</label>
            <input class="form-control" id="ooad" placeholder="Ingresar" type="text">
        </div>
        <div class="col-md-6">
            <button class="btn btn-default">Limpiar</button>
            <button class="ml-5 btn btn-primary">Buscar</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <span class="campos-obligatorios">*Campos obligatorios</span>
        </div>
        <div class="col-md-6 flex justify-content-end">
            <button class="btn btn-primary">Alta de unidad</button>
        </div>
    </div>
    <div class="row -mx-6">
        <div class="col-md-12">
            <p-card>
                <p-table [value]="products1" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.code}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.price | currency: 'USD'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorright" let-state>
                        <div class="paginator-template">
                            <label>Página</label><input type="text" [value]="state.page + 1" disabled>
                        </div>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>

</div>